<style>
    table, th, td {
      border:1px solid black;
      border-spacing: 15px;
      border-collapse: separate;
      margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
     
    };
  
    </style>
 
<table class="table table-striped table-dark" >
    
    <tr >
        <th>Item</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tbody  >
    <tr *ngFor="let m of menuList; index as i">
        <td >{{ m.name }}</td>
        <td>{{ m.category }}</td>
        <td>{{ m.price }}</td>

    </tr>
    </tbody>
</table>
